.footer {
  width: 100%;
  height: 8vh;
  background-color: var(--theme-color);
  padding-bottom: 20px;
  font-style: Big Shoulders Inline Display;
  color: white;
  padding: 0% 15%;
  padding-top: 21px;
  font-size: 20px;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
}
.themes {
  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 5px;
}
.grey-button {
  background-color: grey;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 13px;
}
.purple-button {
  background-color: purple;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 13px;
}
.blue-button {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 13px;
}
@media only screen and (max-width: 830px) {
}

@media only screen and (max-width: 330px) {
}
